* {
  margin: 0;
  border: 0;
}

.outer_container {
  background-color: #d6c5ac;
  padding: 6% 4% 6% 4%;
  height: 120vh;
}
.inner_container {
  background-color: white;
  height: 100vh;
  border-radius: 10px;
  padding: 5%;
}
